#nav{
    display: flex;
    justify-content: end;
}
h1{
    font-family: 'Spectral';
    font-size: 4rem;
    padding-top: 100px;
}
.accroche{
    margin-top: 0px;
    margin-bottom: 70px;
}
h2, h3, h4{
    font-family: 'Spectral';
}

h4{
    margin-top: 1px;
}
h2{
font-size: 25px;
}
p, button{
font-family: 'Abel';
}
nav{
    background-color: rgb(0, 118, 55);
    display: flex;
    justify-content: end;
    padding: 5px;
    margin: 0;
    width: fit-content;
    position: fixed;

    border-radius: 5px;
    border: 1px;
    border-color: rgb(0, 121, 63);

}
.navi{
    padding: 5px;
}
.navi:hover{
    background-color: brown;
}
header{
    height: 80vh;
    background-color: rgb(255, 245, 232);
    padding: 20px 40px;
    padding-bottom: 5px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    position: relative;

}
.infosContainer{
    display: flex;
    justify-content: space-between;
}
.Promesses{
    margin-top: 64px;
}
.infoDroite{
text-align: center;
align-items: center;
margin-bottom: 64px;
}
button{
    padding: 10px;
    margin: 15px;
    margin-bottom: 145px;
    border-radius: 5px;
    border-width: 1px;
    border-color: rgb(0, 121, 63);
    color: white;
    background-color: rgb(0, 118, 55);
}
button:hover{
    background-color: brown;
}
body{
    margin: 0px;
    padding: 0%;
}
h2{
    text-align: center;
}
#servicesContainer{
    margin-top: 64px;
    text-align: center;
    background-color: rgb(254, 242, 226);
    border-radius: 5px;
    padding: 2%;
    height: 55vh;
}
.platCarte{
    width: 25vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgb(254, 242, 226);
    border-radius: 15px;
    height: 62vh;
    margin: 1.6%;
}
.grandeCarte{
    display: flex;
        flex-wrap: wrap;
        justify-content: center;
        padding-top: 8px;
}
.serviceGrandeCarte{
    display: flex;
    justify-content: space-between;
}
.servicesCarte{
    width: 30%;
    background-color: rgb(0, 118, 55);
    border-radius: 5px;
    margin-top: 35px;
    border: 1px solid rgb(0, 118, 55);
    padding: 5px;
    color: rgb(255, 245, 232);
}
img{
    width: 25vw;
    height: 30vh;
    border-radius: 5px 5px 0% 0%;
}
.pPlat{
    margin: 15px;
}
.commentairesContainer{
display: flex;
margin: 10px;
align-items: center;
}
.fa-user{
    background-color: rgb(254, 242, 226);
    border-radius: 100%;
    padding: 2%;
    font-size: 450%;
    text-align: center;
    margin-right: 5px;
    color:  rgb(0, 87, 40);
    width: 6%;
}

.fa-star {
    font-size: 15px;
    color:  rgb(0, 87, 40);

}
.noteContainer{
    display: flex;
    margin-bottom: 0px;
    align-items: baseline;
    gap: 4px;
}
a{
    text-decoration: none;
    color: white;
    border-right: 1px white solid;
    border-color: white;
}
#noborder{
    border-right: 0px

}
p{
    font-size: medium;
}
body{
    color: rgb(27, 22, 16);
}
.avis{
    margin-top: 64px;
    text-align: left;
    padding-left: 10px;

}
footer{
*
}